body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
}

#timer {
    font-size: 60px;
    font-weight: bold;
}